.milanesa{
    display: inline-block;
}
.lomito{
    display: inline-block;
}
.empanada{
    display:inline-block;
}
.hamburguesa{
    display:inline-block;
}
.pizza{
    margin-left: 100px;
    display:inline-block;
}
.claseComun{
    background-color: darkorange;
    font-family: fantasy;
    font-variant-caps: titling-caps;
    border: 3px solid red;
}
.subtitulos{
text-align: center;
}
.titulo{
    text-align: center;
    margin: o auto;
}
.clase1{
    height: auto;
    width: auto;
    margin: 3px;
    display: block;
    padding: 2px;
}
.ultimoBloque{
    display : inline-block;
    margin-top: 0,5%;
    padding: 5%;
}
.ultimoBloque2{
margin-top: 0cm;

    }
    
.total{
    background-color: gold;
}